<!-- Header -->
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Who is this for?</span>
            <p>This proxy is for those who need access to torrents but don't want government snoops or companies to monitor their torrent usage. <br> <br> We utilize the best technology to ensure torrent downloads are delivered to you securely and safely over VPN. <br> <br> All files are cached for 6 hours and automatically deleted per <a href="https://www.gpo.gov/fdsys/pkg/USCODE-2011-title17/pdf/USCODE-2011-title17-chap5-sec512.pdf">DMCA §512(b) and §512(c)</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Pricing Information</span>
            <p class="lead">Static Pricing</p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Pricing</th>
                  <th>Cost per User (one time / per torrent)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Domain Registration</td>
                  <td>$9.99/yr</td>
                  <td>$0.05 / $0.005 </td>
                </tr>
                <tr>
                  <td>VPN Service</td>
                  <td>$39.95/yr</td>
                  <td>$0.10 / $0.01 </td>
                </tr>
                <tr>
                  <td>Heroku Hosting</td>
                  <td>$27.00/month</td>
                  <td>$0.10 / $0.01 </td>
                </tr>
              </tbody> 
            </table>

            <p class="lead">Dynamic Pricing</p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Pricing</th>
                  <th>Cost per User</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Storage (S3)</td>
                  <td>Per Use</td>
                  <td>$0.0300 per GB</td>
                </tr>
                <tr>
                  <td>Bandwidth (S3)</td>
                  <td>Per Use</td>
                  <td>$0.090 per GB</td>
                </tr>
              </tbody> 
            </table>
            <div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /.intro-header -->

<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="/" class="white-text">Home</a>
          </li>
          <li>
            <a href="/about" class="white-text">About</a>
          </li>
          <li>
            <% if user_signed_in? %>
            <a href="/lougout" class="white-text">Log out</a>
            <% else %>
            <a href="/login" class="white-text">Sign up/Sign In</a>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 BitProxy Foundation. No Rights Reserved
    </div>
  </div>
</footer>
