<% if user_signed_in? %>
<% if !current_user.active? %>
<% controller.redirect_to complete_registration_path %>
<% end %>
<% end %>

<!-- Header -->
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Paste your torrent link</span>
            <ul class="list-inline intro-social-buttons">
              <li>
                <input class="form-control" id="torrent_input"></input>
              </li>
              <li>
                <a href="/download" class="btn btn-success btn-md" id="download_btn"><span>Download</span></a>
              </li>
            </ul>
            <span>Sample: http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_60fps_stereo_abl.mp4.torrent</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="/" class="white-text">Home</a>
          </li>
          <li>
            <a href="/about" class="white-text">About</a>
          </li>
          <li>
            <% if user_signed_in? %>
            <a href="/lougout" class="white-text">Log out</a>
            <% else %>
            <a href="/login" class="white-text">Sign up/Sign In</a>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 BitProxy Foundation. No Rights Reserved
    </div>
  </div>
</footer>